

body {
  height: 100vh;
  background: #191a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
  color: white;
}

.wrapper {
  background: #141414;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.1);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.button {
  background: #030303;
 
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
}

.equals {
  background: #f79505;
  grid-column: 3/5;
}

.opt {
  background: #f79505;
}